These are all the flights.<br>

<form action="/view_my_flights" method="POST">
<input type="submit" value="View/Edit Your Flights">
</form>

<form action="/logout" method="POST">
<input type="submit" value="Log Out">
</form>