body { 
  position: absolute;
  top: 5em;
  left: 5em;
  font-family: "Arial Narrow", "Arial", sans-serif;
  color: white;
  background-color: black }
h1 { 
  font-family: "Arial Black", "Arial", sans-serif }
a:link {
  color: yellow;
  font-weight: bold;
  text-decoration: none}
a:hover {
    text-decoration: underline}
a:visited {
  color: yellow; 
  font-weight: bold;
  text-decoration: none}