<h2>All fields required. Please try again.</h2>

<form action="/signup" method="POST">
<label>Enter your name:</label> <input type="text" name="name"><br>
<br>
<label>Choose a username:</label> <input type="text" name="username"><br>
<br>
<label>Choose a password:</label> <input type="password" name="password"><br>
<br>
<input type="submit" value="Sign Up">
</form>