<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Intergalactic Flight Scheduler</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      body { 
        position: absolute;
        top: 5em;
        left: 5em;
        font-family: "Arial Narrow", "Arial", sans-serif;
        color: white;
        background-image:
        url('https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?cs=srgb&dl=cluster-of-stars-1341279.jpg&fm=jpg');
        background-size: cover;
        background-color: black }
      h1 { 
        font-family: "Arial Black", "Arial", sans-serif;
        color: yellow }
      h2 { 
        font-family: "Arial Black", "Arial", sans-serif;
        color: white }
      label { 
        font-family: "Arial Black", "Arial", sans-serif;
        color: yellow }
      a:link {
        color: yellow;
        font-weight: bold;
        text-decoration: none}
      a:hover {
          text-decoration: underline}
      a:visited {
        color: yellow; 
        font-weight: bold;
        text-decoration: none}

      input[type=text] {
          border: 2px solid white;
          outline: none;
          background-color: black;
          color: yellow
        }
        input[type=password] {
          border: 2px solid white;
          outline: none;
          background-color: black;
          color: yellow
        }
        input[type=submit] {
          font-family: "Arial", sans-serif;
          background-color: black;
          border: 2px solid white;
          color: yellow;
          font-weight: bold;
          padding: 5px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block }

          table {
            table-layout:fixed;
            width: 60%; 
          }
            th {
            width: 25%; font-family: "Arial Black", "Arial", sans-serif;
            color: yellow
          }
    </style>
  
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
