<h1>Welcome to the Intergalactic Flight Planner!</h1>
Founded a long time ago in a galaxy far, far away...
<br><br>
To schedule your next intergalactic journey, please <a href="/login">log in</a> or <a href="/signup">sign up</a> for an account.
